services:
  db:
    image: mysql:8.4
    platform: linux/x86_64
    environment:
      MYSQL_USER: user
      MYSQL_ROOT_PASSWORD: pass
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  app:
    build: 
      context: .
      dockerfile: ./app/Dockerfile
    command: bash -c "rm -f tmp/pids/server.pid && bin/dev"
    stdin_open: true
    tty: true
    volumes:
      - ./app:/gamemo/
      - bundle:/usr/local/bundle
    ports:
      - 3000:3000
    depends_on:
      - db
    
    
volumes:
  mysql_data:
  bundle: